body {background-color: rgb(32, 41, 212);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: white;
    width: 90%;
    height: 1500px;
    margin: auto;
}

.awesome {
   
    height: 4cm;
    background-color: white
    
  }
  .tofb {
    
    width: 70%;
    margin-left: 1cm;
}

.half2 {
    width: 20%;
 height:4cm ;
    margin-right: 1cm;
    float: right;
    background-color: rgb(253,215,97);
}
