body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Header start  */
  header {
    width: 100%;
  }
  
  ul {
    list-style: none;
  }
  
  /* NAV BAR */

  #nav_bar1 {
    float: left;
  }
  
  #nav_bar {
    float: right;
  }
  
  #nav_bar li {
    display: inline-block;
    padding: 8px;
  }
  #nav_bar1 li {
    display: inline-block;
    padding: 8px;
    font-weight: bold;

  }
  
  #nav_bar #sign_in {
    background: #4887ef; 
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px; 
    font-weight: bold;
  }
  
  .nav-links {
    color: #404040;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  li.nav-links a:hover {
    text-decoration: underline;
  }
  
  #sign_in:hover { 
    box-shadow: 1px 1px 5px #999;
  }
  
  #sign_in {
    color: #fff;
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  /* Header end */


  /* GOOGLE AREA start */

  /* logo */
.google #google_logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 20px;
  }
  
  /* search form */
  .form {
    text-align: center;
    padding: 0 8px;

  }
  
  #form-search { 
    width: 450px;
    line-height: 32px;
    padding: 0 8px;

  }
   
  .buttons {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 300px;
  }
  
  /* GOOGLE AREA end */



  
  /* FOOTER Start */
footer  {
    color: #666666;
    border-top: solid 2px #e4e4e4;
    width: 100%;
background-color: #666666; 
} 
  
  footer ul li {
    display: inline;
    font-size: 14px;
    padding: 5px;
  }
   

   .footer-left {
    float: left;
     text-align: center;
     margin: auto; 
     padding-top: 5px;
      
   }
    
   .footer-right {
     float: right;
     text-align: center;
      }
  
  
    /* FOOTER End */
